<a type="button" class="button columns" [href]="uri" target="_blank">
  <div class="column is-one-third whatsapp-icon">
    <img src="../../../../assets/img/whatsapp-icon.png"/>
    <p class="has-text-white">{{ 'landing.whatsapp' | translate }}</p>
  </div>
  <div class="column is-two-thirds is-uppercase">
    <p class="title is-3">
      {{ 'landing.chat' | translate }}
    </p>
    <p class="title is-6">
      {{ 'landing.with-us' | translate }}
    </p>
    <p class="subtitle is-7">
      {{ 'landing.click-here' | translate }}
    </p>
  </div>
</a>
