<section class="topic-section">
    <br><br><br><br>
    <div class="container">
        <div class="lesson-topic-list">
            <div class="learndash-wrapper">
                <div class="post-order">
                    <div class="entry-tittle">
                        <h1>
                            {{'lessons.sharing-content' | translate}}
                        </h1>
                    </div>
                </div>
                <div class="ld-topic-status">
                    <div class="ld-breadcrumbs">
                        <div class="ld-breadcrumbs-segments">
                            <a href="training">
                                {{'training.training-center' | translate}}
                            </a>
                            <p>></p>
                            <a href="lessons/organic-traffic-title">
                                {{'lessons.organic-traffic-title' |translate}}
                            </a>
                            <p>></p>
                            <a href="topic/creating-gmail">
                                {{'lessons.sharing-content' | translate}}
                            </a>
                        </div>
                        <div class="in-progress">
                            <p>
                                {{'lessons.in-progress' | translate}}
                            </p>
                        </div>
                    </div>
                    <div class="ld-progress">
                        <div class="ld-progress-heading">
                            <div class="ld-progress-label">
                                {{'lessons.progres-lesson' | translate}}
                            </div>
                            <div class="ld-progress-stats">
                                <div class="ld-progress-percentage ld-secondary-color">
                                    {{'lessons.progress-percentage-0' | translate}}
                                </div>
                            </div>
                        </div>
                        <div class="ld-progress-bar">
                            <div class="ld-progress-bar-percentage ld-secondary-background" style="width:0%"></div>
                        </div>
                    </div>
                </div>
                <div class="ld-tabs">
                    <div class="ld-tab-content-visible">
                        <div class="ld-video" data-video-progression="true"
                            data-video-cookie-key="learndash-video-progress-f7f9fac765c98c8affc38610f975f1c7"
                            data-video-provider="vimeo">
                            <iframe src="https://player.vimeo.com/video/486546043?controls=1&autoplay=0&api=1"
                                width="640" height="336" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""
                                data-learndash-video="ld-video-player-0" data-ready="true"></iframe>
                        </div>
                    </div>
                </div>
                <div class="list-footer"></div>
                <div class="content-actions">
                    <div class="content-action">
                        <a href="topic/link-facebook-groups" class="ld-button">
                            <span class="ld-icon">
                                <img src="https://img.icons8.com/ios/30/000000/back--v1.png" />
                            </span>
                            <span> {{'lessons.previous-topic' | translate}} </span>
                        </a>
                    </div>
                    <div class="content-action">

                    </div>
                    <div class="content-action">
                        <a href="topic/creating-effectively-closing-page" class="ld-button">
                            <span> {{'lessons.next-topic' | translate}} </span>
                            <span class="ld-icon">
                                <img src="https://img.icons8.com/ios/30/000000/more-than.png" />
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>