.section-events {
  margin-top: -60px;
  border-top-left-radius: 150px;
  background: url("../../../../assets/img/evento-negocios.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}

.section-events-color {
  width: 100%;
  height: 100%;
  background: linear-gradient(290deg, rgba(0, 60, 46, 0.8) 0%, rgba(0, 153, 117, 0.8) 92%);
  border-top-left-radius: 150px;
}

.section-events-title {
  font-family: "Raleway-Bold", sans-serif;
}

.event-calendar {
  width: 80vw;
  display: block;
  margin: 0 auto 0 auto;
}

.calendar-title {
  font-family: "Raleway-SemiBold", sans-serif;
  font-size: 1.5vw;
}

.calendar-title::first-letter {
  text-transform: uppercase;
}

.events-actions-calendar {
  display: block;
}

.events-actions-calendar>.button {
  border-radius: 50px;
}

.button-prev, .button-next, .button-month, .button-week, .button-day {
  background: linear-gradient(290deg, #17E5B5 0%, #004D3B 92%);
  color: #FFFFFF;
}

.button-prev:hover, .button-next:hover, .button-month:hover,
.button-month.active, .button-week:hover, .button-week.active,
.button-day:hover, .button-day.active {
  background: #FFFFFF;
  color: #000000 !important;
}

.button-now:hover {
  background: linear-gradient(290deg, #17E5B5 0%, #004D3B 92%);
  color: #FFFFFF;
}

@media screen and (max-width: 1110px) and (orientation: landscape) {
  .calendar-title {
    font-size: 1.7vw;
  }
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
  .calendar-title {
    font-size: 3vw;
  }
}

@media screen and (max-width: 910px) and (orientation: landscape) {
  .calendar-title {
    font-size: 2vw;
  }
}

@media screen and (max-width: 850px) and (orientation: landscape) {
  .calendar-title {
    font-size: 2.3vw;
  }
}

@media screen and (max-width: 780px) and (orientation: portrait) {
  .calendar-title {
    font-size: 3.3vw;
  }
}

@media screen and (max-width: 730px) {
  .section-events {
    border-top-left-radius: 0;
  }

  .section-events-color {
    border-top-left-radius: 0;
  }

  .group-button-type {
    display: block !important;
  }

  .group-button-type>div {
    padding: 10px;
  }
}

@media screen and (max-width: 700px) and (orientation: portrait) {
  .calendar-title {
    font-size: 3vw;
  }
}

@media screen and (max-width: 500px) and (orientation: portrait) {
  .calendar-title {
    font-size: 4vw;
  }
}

@media screen and (max-width: 380px) and (orientation: portrait) {
  .calendar-title {
    font-size: 5vw;
  }
}

