<section class="lessons-section">
    <br><br><br><br>
    <div class="container">
        <div class="lesson-topic-list">
            <div class="learndash-wrapper">
                <div class="img-order">
                    <img width="918" height="612" src="../../../../../assets/img/network-marketing.jpg" class="attachment-large size-large wp-post-image" alt="" loading="lazy" itemprop="image" srcset="../../../../../assets/img/network-marketing.jpg 918w, ../../../../../assets/img/network-marketing.jpg 300w, ../../../../../assets/img/network-marketing.jpg 768w, ../../../../../assets/img/network-marketing.jpg 391w, ../../../../../assets/img/network-marketing.jpg 400w, ../../../../../assets/img/network-marketing.jpg 600w" sizes="(max-width: 918px) 100vw, 918px">
                </div>
                <div class="post-order">
                    <div class="entry-tittle">
                        <h1>
                            {{'lessons.master-network-title' | translate}}
                        </h1>
                    </div>
                </div>
                <div class="ld-breadcrumbs">
                    <div class="ld-breadcrumbs-segments">
                        <a href="training">
                            {{'training.training-center' | translate}}
                        </a>
                        <p>></p>
                        <a href="lessons/digital-propection-title">
                            {{'lessons.master-network-title' |
                            translate}}
                        </a>
                    </div>
                    <div class="in-progress">
                        <p>
                            {{'lessons.in-progress' | translate}}
                        </p>
                    </div>
                </div>
                <div class="lb-tabs">
                    <div class="lb-tabs-content">
                        <p>
                            {{'lessons.master-network-description' | translate}}
                        </p>
                    </div>
                </div>
                <div class="tittle-section">
                    {{'lessons.Lesson-content' | translate}}
                </div>
                <div class="list-items">
                    <div class="list-item">

                        <a class="ld-table-list-item-preview" href="topic/why-social-media">
                            <div class="ld-status-icon"></div>
                            {{'lessons.why-social-media' | translate}}
                        </a>
                    </div>
                    <div class="list-item">
                        <a class="ld-table-list-item-preview" href="topic/build-social-media">
                            <div class="ld-status-icon"></div>
                            {{'lessons.build-social-media' | translate}}
                        </a>
                    </div>
                    <div class="list-item">
                        <a class="ld-table-list-item-preview" href="topic/grow-network">
                            <div class="ld-status-icon"></div>
                            {{'lessons.grow-network' | translate}}
                        </a>
                    </div>
                    <div class="list-item">
                        <a class="ld-table-list-item-preview" href="topic/convert-network">
                            <div class="ld-status-icon"></div>
                            {{'lessons.convert-network' | translate}}
                        </a>
                    </div>
                    <div class="list-item">
                        <a class="ld-table-list-item-preview" href="topic/convert-prospects">
                            <div class="ld-status-icon"></div>
                            {{'lessons.convert-prospects' | translate}}
                        </a>
                    </div>
                    <div class="list-item">
                        <a class="ld-table-list-item-preview" href="topic/use-social-media">
                            <div class="ld-status-icon"></div>
                            {{'lessons.use-social-media' | translate}}
                        </a>
                    </div>
                    <div class="list-item">
                        <a class="ld-table-list-item-preview" href="topic/duplicate-social-media">
                            <div class="ld-status-icon"></div>
                            {{'lessons.duplicate-social-media' | translate}}
                        </a>
                    </div>
                    <div class="list-item">
                        <a class="ld-table-list-item-preview" href="topic/bonus1">
                            <div class="ld-status-icon">
                            </div>
                            {{'lessons.bonus-1' | translate}}
                        </a>
                    </div>
                    <div class="list-item">
                        <a class="ld-table-list-item-preview" href="topic/bonus2">
                            <div class="ld-status-icon">
                            </div>
                            {{'lessons.bonus-2' | translate}}
                        </a>
                    </div>
                </div>
                <div class="list-footer"></div>
                <div class="content-actions">
                    
                    <div class="content-action">
                    </div>
                    <div class="content-action">
                        <a href="lessons/digital-propection-title" class="ld-button">
                            <span> {{'lessons.next-lesson' | translate}} </span>
                            <span class="ld-icon">
                                <img src="https://img.icons8.com/ios/30/000000/more-than.png" />
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>