.country-code-btn a {
  min-width: 100px;
}

.modal-card-foot .button {
  font-family: "Raleway-SemiBold", sans-serif;
  border-radius: 10vw;
}

.button-submit {
  display: block;
  margin-left: auto;
  background: linear-gradient(290deg, #17E5B5 0%, #004D3B 92%);
  color: #FFFFFF;
}

.button-submit:hover {
  background: #FFFFFF;
  color: #000000;
}

.button-reset {
  display: block;
  margin-right: auto;
  background: #FFFFFF;
  color: #000000;
}

.button-reset:hover {
  background: linear-gradient(290deg, #17E5B5 0%, #004D3B 92%);
  color: #FFFFFF;
}

.modal-card-title {
  font-family: "Raleway-Bold", sans-serif;
}

form {
  font-family: "Raleway", sans-serif;
}

.modal-card {
  overflow: auto;
}

.ng-touched.ng-invalid {
  border-color: red;
}

input.input:focus {
  border-color: #000000;
}

.modal-background {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.media {
  align-items: center;
}

.is-150x150 {
  height: 150px;
  width: 150px;
}

.img-round {
  border-radius: 100%;
  display: flex;
  background-color: #FFFFFF;
}

.img-round img {
  border-radius: 100%;
}

.principal-image {
  margin-left: auto;
  margin-right: auto;
}

.principal-image img {
  border: 1px solid #000000;
}

.principal-image label {
  position: absolute;
  display: none;
}

.principal-image:hover label {
  display: block;
}

#new-user-image {
  visibility: hidden;
}

form {
  background-color: #FFFFFF;
}

.img-change {
  opacity: 0.5;
  cursor: pointer;
}
