<section class="topic-section">
    <br><br><br><br>
    <div class="container">
        <div class="lesson-topic-list">
            <div class="learndash-wrapper">
                <div class="post-order">
                    <div class="entry-tittle">
                        <h1>
                            {{'lessons.bonus-1-script-pack' | translate}}
                        </h1>
                    </div>
                </div>
                <div class="ld-topic-status">
                    <div class="ld-breadcrumbs">
                        <div class="ld-breadcrumbs-segments">
                            <a href="training">
                                {{'training.training-center' | translate}}
                            </a>
                            <p>></p>
                            <a href="lessons/bonds-title">
                                {{'lessons.bonds-title' | translate}}
                            </a>
                            <p>></p>
                            <a href="topic/bonus1-script-pack">
                                {{'lessons.bonus-1-script-pack' | translate}}
                            </a>
                        </div>
                        <div class="in-progress">
                            <p>
                                {{'lessons.in-progress' | translate}}
                            </p>
                        </div>
                    </div>
                    <div class="ld-progress">
                        <div class="ld-progress-heading">
                            <div class="ld-progress-label">
                                {{'lessons.progres-lesson' | translate}}
                            </div>
                            <div class="ld-progress-stats">
                                <div class="ld-progress-percentage ld-secondary-color">
                                    {{'lessons.progress-percentage-0' | translate}}
                                </div>
                            </div>
                        </div>
                        <div class="ld-progress-bar">
                            <div class="ld-progress-bar-percentage ld-secondary-background" style="width:0%"></div>
                        </div>
                    </div>
                </div>
                <div class="ld-tabs">
                    <div class="ld-tab-content-visible">
                        <h1 class="ld-title-bonus">
                            {{'bonus.first-message-bono1' | translate}}
                        </h1>
                        <p>{{'bonus.first-step' | translate}}</p>
                        <br>
                        <p>{{'bonus.second-step-content1' | translate}}</p>
                        <br>
                        <p>{{'bonus.second-step-content2' | translate}}</p>
                        <br>
                        <p>{{'bonus.third-step' | translate}}</p>
                        <br>
                        <p>{{'bonus.third-step-content1' | translate}}</p>
                        <br>
                        <p>{{'bonus.third-step-content2' | translate}}</p>
                        <br>
                        <p>{{'bonus.third-step-content3' | translate}}</p>
                        <br>
                        <p>{{'bonus.fourth-step' | translate}}</p>
                        <br>
                        <p>{{'bonus.fourth-step-content1' | translate}}</p>
                        <br>
                        <p>{{'bonus.fourth-step-content2' | translate}}</p>
                        <br>
                        <p>{{'bonus.fourth-step-content3' | translate}}</p>
                        <br>
                        <p>{{'bonus.fourth-step-content4' | translate}}</p>
                        <br>
                        <p>{{'bonus.fifth-step' | translate}}</p>
                        <br>
                        <p>{{'bonus.fifth-step-content1' | translate}}</p>
                        <br>
                        <p>{{'bonus.sixth-step' | translate}}</p>
                        <br>
                        <p>{{'bonus.sixth-step-content1' | translate}}</p>
                        <br>
                        <p>{{'bonus.seventh-step' | translate}}</p>
                        <br>
                        <p>{{'bonus.seventh-step-content1' | translate}}</p>
                        <br>
                        <p>{{'bonus.eighth-step' | translate}}</p>
                        <br>
                        <p>{{'bonus.eighth-step-content1' | translate}}</p>
                        <br>
                        <p>{{'bonus.eighth-step-content2' | translate}}</p>
                        <br>
                        <p>{{'bonus.eighth-step-content3' | translate}}</p>
                        <br>
                        <p>{{'bonus.ninth-step' | translate}}</p>
                        <br>
                        <p>{{'bonus.ninth-step-content1' | translate}}</p>
                        <br>
                        <p>{{'bonus.ninth-step-content2' | translate}}</p>
                        <br>
                        <p>{{'bonus.ninth-step-content3' | translate}}</p>
                        <br>
                        <p>{{'bonus.ninth-step-content4' | translate}}</p>
                        <br>
                        <p>{{'bonus.ninth-step-content5' | translate}}</p>
                        <br>
                        <p>{{'bonus.ninth-step-content6' | translate}}</p>
                        <br>
                        <p>{{'bonus.ninth-step-content7' | translate}}</p>
                        <br>
                        <p>{{'bonus.ninth-step-content8' | translate}}</p>
                        <br>
                        <p>{{'bonus.tenth-step' | translate}}</p>
                        <br>
                        <p>{{'bonus.tenth-step-content1' | translate}}</p>
                        <br>
                        <p>{{'bonus.tenth-step-content2' | translate}}</p>
                        <br>
                        <p>{{'bonus.tenth-step-content3' | translate}}</p>
                        <br>
                        <p>{{'bonus.tenth-step-content4' | translate}}</p>
                        <br>
                    </div>
                    <br><br>
                    <div class="ld-tab-content-visible">
                        <h1>
                            <span >{{'bonus.message-whatsapp' | translate }}</span>
                        </h1>
                        <br>
                        <p>{{'bonus.message-whatsapp-content1' | translate }} </p>
                        <br>
                        <p>{{'bonus.message-whatsapp-content2' | translate }} </p>
                        <br>
                        <p>{{'bonus.message-whatsapp-content3' | translate }} </p>
                        <br>
                        <p>{{'bonus.message-whatsapp-content4' | translate }} </p>
                        <br>
                        <p>{{'bonus.message-whatsapp-content5' | translate }} </p>
                        <br>
                        <p>{{'bonus.message-whatsapp-content6' | translate }} </p>
                        <br>
                        <p>{{'bonus.message-whatsapp-content7' | translate }} </p>
                        <br>
                        <p>{{'bonus.message-whatsapp-content8' | translate }} </p>
                        <br>
                        <p>{{'bonus.message-whatsapp-content9' | translate }} </p>
                        <br>
                        <p>{{'bonus.message-whatsapp-content10' | translate }} </p>
                        <br>
                        <h1>
                            <span >{{'bonus.message-skype' | translate }}</span>
                        </h1>
                        <br>
                        <p>{{'bonus.message-skype-content' | translate }} </p>
                        <br>
                        <p>{{'bonus.message-skype-content2' | translate }} </p>
                        <br>
                        <h1>
                            <span >{{'bonus.message-messenger' | translate }}</span>
                        </h1>
                        <br>
                        <p>{{'bonus.message-messenger-content1' | translate }} </p>
                        <br>
                        <p>{{'bonus.message-messenger-content2' | translate }} </p>
                        <br>
                        <p>{{'bonus.message-messenger-content3' | translate }} </p>
                        <br>
                        <p>{{'bonus.message-messenger-content4' | translate }} </p>
                        <br>
                        <p>{{'bonus.message-messenger-content5' | translate }} </p>
                        <br>
                        <p>{{'bonus.message-messenger-content6' | translate }} </p>
                        <br>
                        <p>{{'bonus.message-messenger-content7' | translate }} </p>
                        <br>
                        <p>{{'bonus.message-messenger-content8' | translate }} </p>
                        <br>
                        <p>{{'bonus.message-messenger-content9' | translate }} </p>
                        <br>
                    </div>
                </div>
                <div class="list-footer"></div>
                <div class="content-actions">
                    <div class="content-action">
                        <a href="lessons/bonds-title" class="ld-button">
                            <span class="ld-icon">
                                <img src="https://img.icons8.com/ios/30/000000/back--v1.png" />
                            </span>
                            <p> {{'lessons.previous-topic' | translate}} </p>
                        </a>
                    </div>
                    <div class="content-action">

                    </div>
                    <div class="content-action">
                        <a href="topic/bonus2-whatsapp-marketing" class="ld-button">
                            <p> {{'lessons.next-topic' | translate}} </p>
                            <span class="ld-icon">
                                <img src="https://img.icons8.com/ios/30/000000/more-than.png" />
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
