.country-code-btn a {
  min-width: 100px;
}

.modal-card-foot .button {
  font-family: "Raleway-SemiBold", sans-serif;
  border-radius: 10vw;
}

.button-submit {
  display: block;
  margin-left: auto;
  background: linear-gradient(290deg, #5C62A0 0%, #3D4583 92%);
  color: #FFFFFF;
}

.button-submit:hover {
  background: #FFFFFF;
  color: #000000;
}

.button-reset {
  display: block;
  margin-right: auto;
  background: #FFFFFF;
  color: #000000;
}

.button-reset:hover {
  background: linear-gradient(290deg, #5C62A0 0%, #3D4583 92%);
  color: #FFFFFF;
}

.modal-card-title {
  font-family: "Raleway-Bold", sans-serif;
}

form {
  font-family: "Raleway", sans-serif;
}

.modal-card {
  overflow: auto;
}

.already-info, .forgot-info {
  margin-top: 20px;
  font-size: 16px;
  opacity: 0.6;
}

.already-info a, .forgot-info a, .checkbox a {
  color: #51639f;
}

.already-info a:hover, .forgot-info a:hover, .checkbox a:hover {
  color: #000000;
}

.ng-touched.ng-invalid {
  border-color: red;
}

input.input:focus {
  border-color: #000000;
}

.modal-background {
  display: flex;
  flex-direction: row;
  align-items: center;
}
