.button.btn-submit {
  font-family: "Raleway-SemiBold", sans-serif;
  border-radius: 10vw;
  width: min-content;
}

.btn-submit {
  display: block;
  margin-left: auto;
  background: linear-gradient(290deg, #5C62A0 0%, #3D4583 92%);
  color: #FFFFFF;
}

.btn-submit:hover {
  background: #FFFFFF;
  color: #000000;
}

.table-button {
  height: auto;
}
