<div class="modal-background">
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title has-text-centered">
        {{ 'general.signup' | translate }}
      </p>
      <button class="delete" aria-label="close" (click)="closeModal()"></button>
    </header>
    <form [formGroup]="register" (ngSubmit)="onSubmit()">
      <section class="modal-card-body">
        <div class="columns">
          <div class="field column">
            <label class="label">{{ 'general.firstname' | translate }} *</label>
            <p class="control">
              <input class="input" type="text" name="firstname" id="firstname"
                formControlName="firstname" required>
            </p>
          </div>
          <div class="field column">
            <label class="label">{{ 'general.lastname' | translate }}</label>
            <p class="control">
              <input class="input" type="text" name="lastname" id="lastname"
                formControlName="lastname">
            </p>
          </div>
        </div>
        <div class="columns">
          <div class="field column">
            <label class="label">{{ 'general.username' | translate }} *</label>
            <p class="control">
              <input class="input" type="text" name="username" id="username"
                formControlName="username" required>
            </p>
          </div>
          <div class="field column">
            <label class="label">{{ 'general.email' | translate }} *</label>
            <p class="control">
              <input class="input" type="email" name="email" id="email"
                formControlName="email" required>
            </p>
          </div>
        </div>
        <div class="columns">
          <div class="field column">
            <label class="label">{{ 'general.country' | translate }} *</label>
            <div class="control is-expanded">
              <div class="select is-fullwidth select-search">
                <select iname="country" id="country" formControlName="country"
                  (change)="onSelectCountry()" required>
                  <option selected disabled>{{ 'general.sel-country' | translate }}</option>
                  <option [id]="country.callingCodes[0]" *ngFor="let country of
                    countries"
                    [value]="country.translations[selectedLanguage] ?
                    country.translations[selectedLanguage] : country.name">
                    {{ country.translations[selectedLanguage] ?
                    country.translations[selectedLanguage] : country.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="field column">
            <label class="label">{{ 'general.phone' | translate }}</label>
            <div class="field has-addons">
              <p class="control country-code-btn">
                <a class="button is-static">
                  <div *ngIf="flag != ''">
                    <img [src]="flag" width="20">
                    +{{ this.register.value.code }}
                  </div>
                </a>
              </p>
              <p class="control">
                <input class="input" type="number" name="phone" id="phone"
                  formControlName="phone">
              </p>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="field column">
            <label class="label">{{ 'general.password' | translate }} *</label>
            <p class="control">
              <input class="input" type="password" name="password"
                id="password" formControlName="password" required>
            </p>
          </div>
          <div class="field column">
            <label class="label">{{ 'general.re-pass' | translate }} *</label>
            <p class="control">
              <input class="input" type="password" name="re-password"
                id="re-password" formControlName="rePassword" required>
            </p>
          </div>
        </div>
        <label class="checkbox">
          <input type="checkbox" id="terms" name="terms" formControlName="terms">
          {{ 'general.agree' | translate }}
          <a href="">
            {{ 'about.terms-cond' | translate }}
          </a>
        </label>
        <p class="already-info has-text-centered">
          {{ 'general.have-account' | translate }}
          <a (click)="closeAndLogin()">
            {{ 'general.login' | translate }}
          </a>
        </p>
        <div class="notification is-danger" *ngIf="(f.firstname.invalid && (f.firstname.dirty || f.firstname.touched))
            || (f.username.invalid && (f.username.dirty || f.username.touched)) || f.username.errors?.minlength || f.username.errors?.pattern
            || (f.email.invalid && (f.email.dirty || f.email.touched)) || f.email.errors?.email || (f.country.invalid && (f.country.dirty || f.country.touched))
            || (f.password.invalid && (f.password.dirty || f.password.touched)) || (f.rePassword.invalid && (f.rePassword.dirty || f.rePassword.touched))
            || f.password.value != f.rePassword.value || f.password.errors?.pattern
            || (f.terms.invalid && (f.terms.dirty || f.terms.touched)) || f.password.errors?.minlength || this.errors.length > 0">
          <ul>
            <li *ngIf="f.firstname.invalid && (f.firstname.dirty || f.firstname.touched)">
              ° {{ 'errors.firstname-required' | translate }}
            </li>
            <li *ngIf="f.username.invalid && (f.username.dirty || f.username.touched)">
              ° {{ 'errors.username-required' | translate }}
            </li>
            <li *ngIf="f.username.errors?.pattern">
              ° {{ 'errors.username-invalid' | translate }}
            </li>
            <li *ngIf="f.username.errors?.minlength">
              ° {{ 'errors.username-lenght' | translate }}
            </li>
            <li *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)">
              ° {{ 'errors.email-required' | translate }}
            </li>
            <li *ngIf="f.email.errors?.email">
              ° {{ 'errors.email-invalid' | translate }}
            </li>
            <li *ngIf="f.country.invalid && (f.country.dirty || f.country.touched)">
              ° {{ 'errors.country-required' | translate }}
            </li>
            <li *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">
              ° {{ 'errors.pwd-required' | translate }}
            </li>
            <li *ngIf="f.rePassword.invalid && (f.rePassword.dirty || f.rePassword.touched)">
              ° {{ 'errors.pwd-confirm-required' | translate }}
            </li>
            <li *ngIf="f.password.value != f.rePassword.value">
              ° {{ 'errors.pwd-no-match' | translate }}
            </li>
            <li *ngIf="f.password.errors?.minlenght">
              ° {{ 'errors.pwd-length' | translate }}
            </li>
            <li *ngIf="f.password.errors?.pattern">
              ° {{ 'errors.pwd-match' | translate }}
            </li>
            <li *ngIf="f.terms.invalid && (f.terms.dirty || f.terms.touched)">
              ° {{ 'errors.terms-accept' | translate }}
            </li>
            <li *ngFor="let error of errors">
              ° {{ error | translate }}
            </li>
          </ul>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button button-submit" type="submit" [disabled]="register.invalid">
          {{ 'general.signup' | translate }}
        </button>
        <button class="button button-reset" type="reset" (click)="closeModal()">
          {{ 'general.cancel' | translate }}
        </button>
      </footer>
    </form>
  </div>
</div>
