<section class="topic-section">
    <br><br><br><br>
    <div class="container">
        <div class="lesson-topic-list">
            <div class="learndash-wrapper">
                <div class="post-order">
                    <div class="entry-tittle">
                        <h1>
                            {{'lessons.bonus-instagram' | translate}}
                        </h1>
                    </div>
                </div>
                <div class="ld-topic-status">
                    <div class="ld-breadcrumbs">
                        <div class="ld-breadcrumbs-segments">
                            <a href="training">
                                {{'training.training-center' | translate}}
                            </a>
                            <p>></p>
                            <a href="lessons/bonds-title">
                                {{'lessons.bonds-title' |translate}}
                            </a>
                            <p>></p>
                            <a href="topic/creating-gmail">
                                {{'lessons.bonus-instagram' | translate}}
                            </a>
                        </div>
                        <div class="in-progress">
                            <p>
                                {{'lessons.in-progress' | translate}}
                            </p>
                        </div>
                    </div>
                    <div class="ld-progress">
                        <div class="ld-progress-heading">
                            <div class="ld-progress-label">
                                {{'lessons.progres-lesson' | translate}}
                            </div>
                            <div class="ld-progress-stats">
                                <div class="ld-progress-percentage ld-secondary-color">
                                    {{'lessons.progress-percentage-0' | translate}}
                                </div>
                            </div>
                        </div>
                        <div class="ld-progress-bar">
                            <div class="ld-progress-bar-percentage ld-secondary-background" style="width:0%"></div>
                        </div>
                    </div>
                </div>
                <div class="ld-tabs">
                    <div class="ld-tab-content-visible">
                        <h1 class="ld-title-bonus">
                            {{'bonus.create-insta-account' | translate}}
                        </h1>
                        <div class="ld-video" data-video-progression="true"
                            data-video-cookie-key="learndash-video-progress-f7f9fac765c98c8affc38610f975f1c7"
                            data-video-provider="vimeo">
                            <iframe loading="lazy" src="https://player.vimeo.com/video/438772497" width="640" height="360" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                        </div>
                    </div>
                    <div class="ld-tab-content-visible">
                        <h1 class="ld-title-bonus">
                            {{'bonus.insta-business' | translate}}
                        </h1>
                        <div class="ld-video" data-video-progression="true"
                            data-video-cookie-key="learndash-video-progress-f7f9fac765c98c8affc38610f975f1c7"
                            data-video-provider="vimeo">
                            <iframe loading="lazy" src="https://player.vimeo.com/video/438772571" width="640" height="360" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                        </div>
                    </div>
                    <div class="ld-tab-content-visible">
                        <h1 class="ld-title-bonus">
                            {{'bonus.conver-account' | translate}}
                        </h1>
                        <div class="ld-video" data-video-progression="true"
                            data-video-cookie-key="learndash-video-progress-f7f9fac765c98c8affc38610f975f1c7"
                            data-video-provider="vimeo">
                            <iframe loading="lazy" src="https://player.vimeo.com/video/438772608" width="640" height="360" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                        </div>
                    </div>
                    <div class="ld-tab-content-visible">
                        <h1 class="ld-title-bonus">
                            {{'bonus.super-bio-insta' | translate}}
                        </h1>
                        <div class="ld-video" data-video-progression="true"
                            data-video-cookie-key="learndash-video-progress-f7f9fac765c98c8affc38610f975f1c7"
                            data-video-provider="vimeo">
                            <iframe loading="lazy" src="https://player.vimeo.com/video/438772717" width="640" height="360" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                        </div>
                    </div>
                    <div class="ld-tab-content-visible">
                        <h1 class="ld-title-bonus">
                            {{'bonus.audit-profile' | translate}}
                        </h1>
                        <div class="ld-video" data-video-progression="true"
                            data-video-cookie-key="learndash-video-progress-f7f9fac765c98c8affc38610f975f1c7"
                            data-video-provider="vimeo">
                            <iframe loading="lazy" src="https://player.vimeo.com/video/438772780" width="640" height="360" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                        </div>
                    </div>
                    <div class="ld-tab-content-visible">
                        <h1 class="ld-title-bonus">
                            {{'bonus.insta-strattegy' | translate}}
                        </h1>
                        <div class="ld-video" data-video-progression="true"
                            data-video-cookie-key="learndash-video-progress-f7f9fac765c98c8affc38610f975f1c7"
                            data-video-provider="vimeo">
                            <iframe loading="lazy" src="https://player.vimeo.com/video/438772885" width="640" height="360" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                        </div>
                    </div>
                    <div class="ld-tab-content-visible">
                        <h1 class="ld-title-bonus">
                            {{'bonus.algorithm-insta' | translate}}
                        </h1>
                        <div class="ld-video" data-video-progression="true"
                            data-video-cookie-key="learndash-video-progress-f7f9fac765c98c8affc38610f975f1c7"
                            data-video-provider="vimeo">
                            <iframe loading="lazy" src="https://player.vimeo.com/video/438772997" width="640" height="360" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                        </div>
                    </div>
                    <div class="ld-tab-content-visible">
                        <h1 class="ld-title-bonus">
                            {{'bonus.customer-highlights' | translate}}
                        </h1>
                        <div class="ld-video" data-video-progression="true"
                            data-video-cookie-key="learndash-video-progress-f7f9fac765c98c8affc38610f975f1c7"
                            data-video-provider="vimeo">
                            <iframe loading="lazy" src="https://player.vimeo.com/video/438773122" width="640" height="360" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                        </div>
                    </div>
                    <div class="ld-tab-content-visible">
                        <h1 class="ld-title-bonus">
                            {{'bonus.customer-highlights' | translate}}
                        </h1>
                        <div class="ld-video" data-video-progression="true"
                            data-video-cookie-key="learndash-video-progress-f7f9fac765c98c8affc38610f975f1c7"
                            data-video-provider="vimeo">
                            <iframe loading="lazy" src="https://player.vimeo.com/video/438773426" width="640" height="360" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                        </div>
                    </div>
                    <div class="ld-tab-content-visible">
                        <h1 class="ld-title-bonus">
                            {{'bonus.final-message' | translate}}
                            <a href="https://aprendeaunclick.com/clic-a-Triunfagramam">
                                {{'bonus.final-message-link' | translate}}
                            </a>
                        </h1>
                    </div>




                </div>
                <div class="list-footer"></div>
                <div class="content-actions">
                    <div class="content-action">
                        <a href="topic/campaigns-promote-business" class="ld-button">
                            <span class="ld-icon">
                                <img src="https://img.icons8.com/ios/30/000000/back--v1.png" />
                            </span>
                            <span> {{'lessons.previous-topic' | translate}} </span>
                        </a>
                    </div>
                    <div class="content-action">

                    </div>
                    <div class="content-action">
                        <a href="topic/campaign-send-direct-traffic" class="ld-button">
                            <span> {{'lessons.next-topic' | translate}} </span>
                            <span class="ld-icon">
                                <img src="https://img.icons8.com/ios/30/000000/more-than.png" />
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
